body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "Arial", sans-serif;
}

.promobanner__container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px auto;
  color: #fff;
  background-color: #000;
}

.navbar {
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.navbar__link {
  font-size: 1.5rem;
  text-decoration: none;
}

.links__container {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

/* Store */

.store__container {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
}

/* Checkout */

.checkout__icon {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 70px;
  right: 40px;
  padding: 10px;
  border-radius: 50px;
  background-color: lightskyblue;
}

.checkout__icon__quantity {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 110px;
  right: 35px;
  border-radius: 50px;
  text-align: center;
  color: #000;
  background-color: lightcoral;
  z-index: 1;
}

.checkout__cart__container {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 150px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1;
  opacity: 1;
}

.checkout__cart__list {
  height: 90%;
}

.mini__preview {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.checkout__cart__footer {
  border-top: 1px solid grey;
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checkout__cart__total {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.checkout__cart__button__div {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.checkout__cart__button {
  padding: 10px;
  border-radius: 5px;
  background-color: lightslategrey;
  color: #fff;
  cursor: pointer;
}

.mini__cardslist__container {
  display: grid;
  grid-template-columns: 150px 150px;
  column-gap: 20px;
  row-gap: 10px;
}

/* Cards */

.cardslist__container {
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  column-gap: 50px;
  row-gap: 50px;
}
.card__container {
  padding: 0;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.preview {
  width: 250px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.preview:hover {
  transform: scale(1.1);
}

.card__category {
  font-size: 0.8rem;
  font-weight: bold;
  color: lightgray;
  text-transform: uppercase;
}
.card__name {
  font-weight: bold;
}
.card__price {
  margin-bottom: 15px;
}
.card__button {
  padding: 10px;
  border-radius: 5px;
  background-color: lightslategrey;
  color: #fff;
  cursor: pointer;
}

.card__button:hover {
  transform: scale(1.1);
}
