body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "Arial", sans-serif;
}

/* Header */

.promobanner__container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px auto;
  color: #fff;
  background-color: #000;
}

.logo {
  position: absolute;
  top: 10px;
  left: 50px;
}

.navbar {
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.navbar__link {
  font-size: 1.5rem;
  text-decoration: none;
}

.links__container {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

/* Store */

.store__container {
  margin: 50px auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* Cards */

.cardslist__container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 50px;
  row-gap: 20px;
}

.card__container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.preview {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.preview:hover {
  transform: scale(1.05);
}

.card__category {
  font-size: 0.8rem;
  font-weight: bold;
  color: lightgray;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.card__footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.card__infos {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card__name {
  font-weight: bold;
}

.card__price {
  margin-bottom: 15px;
  font-weight: bold;
  color: lightgray;
}

.card__button {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: lightslategrey;
  color: #fff;
  cursor: pointer;
}

.card__button:hover {
  transform: scale(1.05);
}

/* Cart */

.cart__hidden {
  display: none;
}

.cart__icon {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 70px;
  right: 40px;
  padding: 10px;
  border-radius: 50px;
  background-color: lightskyblue;
  cursor: pointer;
}

.cart__icon__total {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 110px;
  right: 30px;
  border-radius: 50px;
  text-align: center;
  color: #000;
  background-color: lightcoral;
  z-index: 1;
  opacity: 1;
}

.cart__container {
  width: 450px;
  height: 500px;
  position: fixed;
  top: 160px;
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 5px;
  z-index: 1;
  opacity: 1;
}

.cart__hidden {
  display: none;
}

.mini__cardslist__container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  row-gap: 30px;
}

.mini__preview {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
}

.mini__preview__delete {
  color: #fff;
  background-color: #000;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.mini__preview__delete:hover {
  transform: scale(1.05);
}

.mini__card__infos {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.mini__card__name {
  font-size: 1rem;
  font-weight: bold;
}

.mini__card__count {
  font-size: 0.8rem;
}

.mini__card__price {
  font-size: 1rem;
  color: lightgray;
}

.cart__footer {
  border-top: 1px solid grey;
  width: 90%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__total {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.cart__link__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart__link {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: lightslategrey;
  color: #fff;
  cursor: pointer;
}

.cart__link:hover {
  transform: scale(1.05);
}

/* Footer */

.footer__div {
  border-top: 1px solid grey;
  margin-top: 0px;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.footer__navbar {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
}

.footer__links {
  text-decoration: none;
}
